/* default styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 65px;
    color: #222;
}

h2{
    font-size: 45px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

p{
    font-size: 16px;
    color: #464646;
    margin: 15px 0 20px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 12px 18px;
    color: #000000;
    background-color: #ffff;
    border: 1px solid #ffff;
    cursor: pointer;
    outline: none;
    transition: 0.03s;
}

button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffff;
    border-radius: none;
    cursor: pointer;
    outline: none;
    transition: 0.03s;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/* Home page styles */
/* header section */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #edeff7;
    box-shadow: 0 5PX 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#navbar li{
   
    list-style: none;
    margin: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    transition: 0.3ms ;
}

#navbar li a:hover{
    color: #007bff;
}

#navbar li a:hover , #navbar li a.active{
    color: #007bff;
}

#navbar li a.active::after,#navbar li a:hover::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background: #007bff;
    bottom: -4px;
    left: 20px;

}

/* hero section */
#hero{
    background-image: url("assets/hero4.png");
    height: 92vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;

}

#hero h4{
    padding-bottom: 15px;

}

#hero h1{
    color: #007bff;

}

#hero button{
   background-image: url("assets/button.png");
   border: none;
   background-color: transparent;
   color: #007bff;
   padding: 14px 80px 16px 60px;
   background-repeat: no-repeat;
   cursor: pointer;
   font-size: 20px;
   font-weight: 500px;
}

/* feature section */
#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#features .feature-box{
    width: 180px;
    padding: 20px 15px;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 10px 10px 55px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    margin: 05px 0;
}

#features .feature-box:hover{
    box-shadow: 10px 10px 55px rgba(70, 62, 221, 0.1);
}
 
#features .feature-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #000000;
    background-color: #b0ffe9;
    display: inline-block;
}

#features .feature-box:nth-child(2) h6 {
    background-color: #fba0f8;
   
}
#features .feature-box:nth-child(3) h6 {
    background-color: #bbff91;
   
}
#features .feature-box:nth-child(4) h6 {
    background-color: #80b7ff;
   
}
#features .feature-box:nth-child(5) h6 {
    background-color: #ba92ff;
   
}
#features .feature-box:nth-child(6) h6 {
    background-color: #ffb38d;
   
}

#features .feature-box img{
    width: 100%;
}

/* product section */
#product-1{
    text-align: center;
   
}
#product-1 .pro-container{
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   flex-wrap: wrap;
}
#product-1 .product-item{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 20px 20px 20px rgba(255, 246, 246, 0.4);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product-1 .product-item img{
    width: 100%;
    border-radius: 9px;
}
#product-1 .product-item:hover{
    box-shadow: 20px 20px 20px rgba(228, 228, 228, 0.4) ;
}
 
#product-1 .product-item .des{
    text-align: start;
    padding: 8px 0;
    color: #716d6d;
    font-size: 12px;
}
#product-1 .product-item h5{
    text-align: start;
    font-size: 18px;
    font-weight: 800;
    padding: 5px 0;
}
#product-1 .product-item .star{
    text-align: start;
    color: rgb(247, 147, 33);
}

#product-1 .product-item h4{
    text-align: start;
    font-size: 22px;
    font-weight: 800;
    padding: 2px 0;
    color: #007bff;
}

#product-1 .product-item .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #89affa;
    color: #000000;
    border-color: 1px solid #b3b3b3;
    position:absolute;
    bottom: 10px;
    right: 10px;
}

/* banner section */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("assets/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
     
}

#banner h4{
    color: #ffff;
    font-size: 20px;
}
#banner h2{
    color: #ffff;
    font-size: 40px;
}
#banner h2 span{
    color: #ff0000;
}
#banner button:hover{
    color: #ffffff;
    background-color:#007bff ;
    border: none;
}
/* 2nd banner section */
#banner-02{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#banner-02 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("assets/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    margin-bottom: 20px;
    padding: 30px;
}
#banner-02 .banner-box-2 {
    background-image: url("assets/banner/b10.jpg");
} 
#banner-02 h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#banner-02 h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#banner-02 span{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}
#banner-02 .banner-box:hover button{
    color: #ffffff;
    background-color:#007bff ;
    border: none;
}

/* banner-03 section */
#banner-03{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 
}
#banner-03 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("assets/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    margin-bottom: 20px;
    padding: 30px;
}

#banner-03 h2{
    color: white;
}
#banner-03 h3{
    color: rgb(255, 0, 0);
}
#banner-03 .banner-box2 {
    background-image: url("assets/banner/b4.jpg"); 
    
   
}
#banner-03 .banner-box3 {
    background-image: url("assets/banner/b18.jpg");
      
}
/* new-letter section */
#new-letter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("assets/banner/b14.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
     
}
#new-letter h4{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}
#new-letter p{
    color: #a2a2a2;
    font-size: 18px;
    font-weight: 400;
}

#new-letter span{
    color: #ff0000;
    font-size: 18px;
    font-weight: 500;
}
#new-letter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    width: 100%;
    border: 1px solid  transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#new-letter .form{
    display: flex;
    justify-content: space-between;
}
#new-letter button{
  background-color: #007bff;
  color: #fff;
  width: 140px;
  height: 50px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;

}

/* footer section */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
   
}
footer h4{
    font-size: 18px;
    margin-bottom: 20px; 
}
footer p{
    font-size: 14px;
    margin: 0 0 8px 0;   
}
footer a{
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;  
} 
footer .fallow{
    margin-top: 20px;
}
footer .fallow i{
    color: #212027;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin: 10px 0 15px 0;
    cursor: pointer;
}
footer .install img{
    margin: 10px 0 15px 0;
    cursor: pointer;
}

footer .fallow i:hover,footer a:hover{
    color: #007bff;
}
footer .copyright{
    text-align: center;
    width: 100%;
}

/* product page all style */
#hero-product{
    background-image: url('assets/banner/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

/* Media Queries */
@media (max-width:1028px){
    #hero {
        height: 55vh;
        padding: 0 40px;
        background-position: top 30% right 30%;
    }
    #features {
        
        justify-content: center; 
        align-items: center;
        display: flex; 
        
    }
    #features .feature-box {
        
        margin: 05px 15px;
    }
    #product-1 .pro-container {
       
        justify-content: center;
       
    }
    #product-1 .product-item {
     
        margin: 15px;
        
    }
   

}
@media (max-width:768px){

    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        padding: 80px 0 0 10px;
        transition: 0.3;
    } 
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #222;
        font-size: 30px;
        padding-left: 20px;
    }
    #close{
        position: absolute;
        display: initial;
        top: 30px;
        left: 30px;
        padding-bottom: 20px;
        font-size: 35px;
        color: #212027;
    }
    #cart-0{
        display: none;
    }
    #hero {
        height: 50vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #features {
        
        justify-content: center;  
    }
    #features .feature-box {
        
        margin: 05px 15px;
    }
    #product-1 .pro-container {
       
        justify-content: center;
       
    }
    #product-1 .product-item {
     
        margin: 15px;
        
    }
    #banner {
       
        height: 20vh;
      
    }
    #banner-02 .banner-box {
        
        min-width: 100%;
        height: 30vh;
       
    }
    #banner-03 {
       padding: 0 40px;
    }
    #banner-03 .banner-box {
        
        width: 30%;
        height: 23vh;
        
    }
    #banner-03 h2 {
       
        font-size: 30px;
        margin-bottom: 0px;
    }

}
@media (max-width:760px){
    .section-p1 {
        padding: 20px 20px;
    }
    #hero {
        height: 40vh;
        padding: 0 40px;
        background-position: top 20% right 0%;
    }
   
    #features {
        
        justify-content: center;  
    }
    #features .feature-box {
        
        margin: 05px 5px;
    }
    #product-1 .pro-container {
       
        justify-content: center;
       
    }
    #banner {
       
        height: 30vh;     
    }
    #banner-03 {
        padding: 0 40px;
     }
     #banner-03 .banner-box {
         
         width: 100%;
         height: 23vh;
         
     }
     #banner-03 h2 {
        
         font-size: 30px;
         margin-bottom: 0px;
     }

}